
/* for preLoader*/
.preLoader{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
z-index:9999;
background:url(../images/pre-loader.gif)50% no-repeat #fff


}




  #rentType{
      width:340px;
      height: 160px;
 
  }
  #vsvideo{
  width:220px;
  height:130px;
  }
 #vsimg{
  width:220px;
  height:130px;
  }
#dbtn{
margin-left:15px;
margin-top:20px;
margin-bottom:20px;
}

